@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
:root{
    --azul-dnc:#0C70F2;
    --preto-dnc:#303030;
    --cinza-dnc:#c9c9c9;
    --fonte-padrao:'arial';
}
body{
    margin:0;
    padding:0;
    
    background:linear-gradient(180deg, rgba(12,112,242,0.5) 32%, rgba(12,112,242,0) 45% ),#303030;
    
    background-repeat: no-repeat /*permite que o padrão de cor degradê não se repita. Se tiver dúvida, basta desabilitar essa linha e ver como fica*/
}
/*ID do menu */
#principal{ 
    width:100%;
    height: 70px;
    text-align: left;
    background-color: var(--preto-dnc);
    font-size:25px;
    font-weight: 400;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #BABABA;
    
}
    #principal div a{
        font-family:var(--fonte-padrao);
        font-size: 20px;
        color:white;
        text-decoration: none;
        padding-left: 20px;
        border-width: 10px;
    }
        #principal div a:hover{ /*funciona como um comando para aplicar animação aos botões. Nesse caso, sempre que vc passar o cursorno item, ele ficará azul*/
            color: var(--azul-dnc);
        }
    #principal button{
        font-family:var(--fonte-padrao);
        font-size: 20px;
        font-weight: 600;
        color:white;
        background-color: var(--azul-dnc);
        margin-right: 5%;
        height: 40px;
        width: 80px;
        border:0;
        box-shadow: 3px 2px 4px rgba(12, 112, 242, .30);
        cursor:pointer; /*aplica o cursor em formato de mãozinha quando passar o cursor por cima do botão*/
                
    }
    #menu{
        display:flex;
        width:55%;
        justify-content: space-around; 
        align-items: center;
}
/*seção principal do site*/
section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    
}
header{
    color:white;
    font-family: var(--fonte-padrao);
    text-align: center;
    }
        header h1{
            font-size: 80px;
            font-weight: 800;
            margin-bottom: 20px;
        }
        header h2{
            text-align:center; /*altura da janela dessa seção*/
            font-size:40px;
            font-weight:700;
        }
        header .invert { /*inverte as configuracoes do local onde se aplicou o invert*/
            background-color: black;
            font-weight:bold;
            padding:3px;
        }
form{
    font-family: var(--fonte-padrao);
    font-size:30px;
    font-weight:100;
    width:600px;
    color:white;   
   
    }
        .form-group{
            display:flex;
            flex-direction: column;
            margin-top:10px;
            margin-bottom:10px;
            
        }
        
        form input{
            border-radius: 10px;
            border-style: none;
            height:20px;
            font-size:20px;
            background-color: var(--cinza-dnc);
            padding:10px;

        }
        
        form label{
            margin: 10px 0px 10px 0px
        }
        
        form input:placeholder{  /*pseudo seletores devem ser chamados depois de dois pontos*/
            color:rgba(57,57,57,0.5);
        }
        
        .checkbox-itens label{
            font-size:25px;
        }
        
        .checkbox-itens{
           display:flex;
           justify-content: space-around;
           align-items: center;
        }
        input[type="checkbox"]{
            transform: scale(1.7);
        }

        input[type="submit"]{
            background-color: rgba(12,112,242,0.9);
            width:100%;
            height: 50px;
            font-size:32px;
            color:white;
            margin-top: 50px;
            box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
            cursor:pointer;
        }
        /*Estrutura do rodapé*/
        footer{
            margin-top:20px;
            background-color: #0C70F2;
            color:white;
            width:100%;
            align-items: center;
        }
            .infoDNC {
                margin-top: 30px;
                display:flex;
                justify-content: space-around;
                font-family: var(--fonte-padrao);
                align-items: center; /*centrallizaos itens na VERTICAL*/
            }
            footer ul{
                list-style: none;  /*Elimina a bolinha dos itens de uma lista*/
                margin:none; /*eliminando a margem externa da lista que por padrão sempre vem diferente de zero*/
                padding:0px; /*eliminando a margem interna da lista*/
                                
            }
            footer ul li{  /*Trabalha a lista como um todo*/
                font-size: 25px;
                font-family: var(--fonte-padrao);
                text-align: center;
                margin: 20px 0px 20px 0px
                
            }
                footer ul li a {
                    color:white;
                    text-decoration: none ;
                    font-weight:600;
                }
                footer ul li a:hover{  /*Define parametro que quando passa o mouse sobre o link muda a cora letra pra cinza */
                    color:gray;
                }
            footer nav{
                display:flex;
                flex-direction: column;
                align-items: center;
                height:330px;

            }
            footer nav .destaque p{
                background-color: var(--preto-dnc);
                font-size:25px;
                border-radius: 10px;
                font-weight:800:800;
                padding: 0px 10px 0px 10px;
                margin-bottom:10px;
            }

            footer .endereco{
                font-weight:800;
                font-size:20px;
                font-family:var(--fonte-padrao);
                color:white;
                text-align: center;
            }

            footer .copyright{
                height:35px;
                display:flex;
                justify-content: center;
                margin:10px 0px 10px 0px;
                
            }
            footer .copyright a{
                font-family: var(--fonte-padrao);
                font-size:20px;
                font-weight: 600;
                color:white;
                text-decoration: none;
                padding:5px;
                
            }
            footer .copyright a:first-child{ /*seleciona somente o primeiro filho,ou seja, o primeiro elemento*/
                border-right: 2px solid white;
            }
                footer .copyright a:hover{
                    color:gray
                }
    /*AJUSTANDO PARA VISUALIZAÇÃO EM SMARTPHONES*/
@media only screen and (max-width:600px){
        /*MENU*/
        #principal{
            display:flex;
            flex-direction: column;
            height:auto;
        }
        #menu{
            flex-direction: column;
            width:100%;
            margin:0px; 
        }
            #menu a{
                display:flex;
                height:50px;
                align-items: center;
            }
        #principal button{
            width:100%;
            margin:0px;
        }
       /*ÁREA SECTION*/
       section h1{
            font-size:50px;
       } 
       section h2{
            font-size:30px;
            padding-right:15px;
            padding-left: 15px;
       }
       form{
            width:100%;
            font-size:20px;
       }
       .checkbox-itens label{
            font-size:20px;
        
        }
        input[type="checkbox"]{
            transform: scale(0.9);
        }
        footer{
            width:100%;
        }
        footer nav{
            font-size:15px;
        }
}



